<div class="card-body table-responsive">
  <table class="table table-striped table-bordered table-hover text-center" [mfData]="reservas | dataFilter : filterQuery"
    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
      <tr class="thead-dark">
        <th colspan="1" class="row">
          <label class="col-md-6">Filtrar por Nombre y/o Apellido :</label>
          <input class="col-md-6 form-control" [(ngModel)]="filterQuery" />
        </th>
      </tr>
      <tr class="text-center">
        <th style="width: 100%">
          <mfDefaultSorter by="">Vehiculos</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let item of mf.data" class="text-light font-weight-bold">
        <td>
          <div class="container-fluid">
            <h2>Galeria</h2>
            <section class="row">
              <div *ngFor="let vehic of vehiculos" class="col-md-6 container">
                <div class="card bg-dark text-light">
                  <div class="row ">
                    <div class="col-md-4">
                      <img src="http://localhost/EmpresaWebService/web/uploads/images/{{item.vehiculo.pathimagen}}" class="w-100">
                    </div>
                    <div class="col-md-8 px-3">
                      <div class="card-block px-3">
                        <h4 class="card-title text-danger">{{item.vehiculo.marca}}</h4>
                        <p class="card-text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                          enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                          </p>
                        <a href="#" class="btn btn-primary">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot class="m-0 p-0">
      <tr class="m-0 p-0">
        <th colspan="5" class="m-0 p-0">
          <mfBootstrapPaginator class="m-0 p-0"></mfBootstrapPaginator>
        </th>
      </tr>
    </tfoot>
  </table>
</div>