<div class="row col-12 p-2">
  <button class="btn btn-sm btn-success" (click)="modalInscripcion()" data-toggle='modal' data-target='#modalDetalles'>INSCRIPCION</button>
  <a class="btn btn-sm btn-primary ml-2" [routerLink]="['/categoria']">ADMINISTRAR CATEGORIAS</a>
</div>
<div class="card-body table-responsive p-0 m-0">
  <table class="table table-striped table-bordered table-hover text-center" [mfData]="inscripciones | dataFilter : filterQuery"
    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
    <thead>
      <tr class="thead-dark">
        <th colspan="2">
          <label>Filtrar por Nombre y/o Apellido :</label>
        </th>
        <th colspan="3">
          <input class="form-control" [(ngModel)]="filterQuery" />
        </th>
      </tr>
      <tr class="text-center">
        <th style="width: 15%">
          <mfDefaultSorter by="categoria">Categoria</mfDefaultSorter>
        </th>
        <th style="width: 20%">
          <mfDefaultSorter by="apellido">Apellido</mfDefaultSorter>
        </th>
        <th style="width: 25%">
          <mfDefaultSorter by="nombres">Nombres</mfDefaultSorter>
        </th>
        <th style="width: 20%">
          <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
        </th>
        <th style="width: 20%">
          <mfDefaultSorter by="">Detalles</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let item of mf.data" class="text-light font-weight-bold">
        <td>{{item.categoria.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.nombres}}</td>
        <td>{{item.fecha.timestamp * 1000.0047 | date:'dd/MM/yyyy'}}</td>
        <td>
          <button type="button" class="btn btn-outline-info my-2 my-sm-0" (click)="seleccionarInscripcion(item)" data-toggle='modal' data-target='#modalDetalles'>Modificar</button>
          <button type="button" class="btn btn-outline-danger my-2 my-sm-0" (click)="eliminarInscripcion(item)">Eliminar</button>
        </td>
      </tr>
    </tbody>
    <tfoot class="m-0 p-0">
      <tr class="m-0 p-0">
        <th colspan="5" class="m-0 p-0">
          <mfBootstrapPaginator class="m-0 p-0"></mfBootstrapPaginator>
        </th>
      </tr>
    </tfoot>
  </table>
</div>

<div class="modal fade" id="modalDetalles" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">DETALLES DEL INSCRIPTO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #inscripcionForm="ngForm" (ngSubmit)="enviarFormulario(); inscripcionForm.reset()">
          <div class="form-group row p-0 m-0">
            <label for="name" class="col-form-label">Categoria :</label>
            <select id="categoria" required class="col-md-6 form-control" name="categoria" [(ngModel)]="inscripcion.categoria" #categoria="ngModel">
              <option [ngValue]="cat" *ngFor="let cat of categorias">{{cat.nombre}}</option>
            </select>
            <div [hidden]="categoria.valid || categoria.pristine" class="alert alert-danger">
              Categoria requerida
            </div>
          </div>
          <div class="form-group row p-0 m-0">
            <label for="apellido" class="col-form-label">Apellido :</label>
            <input type="text" name="apellido" id="apellido" minlength="4" #apellido="ngModel" required class="form-control" [(ngModel)]="inscripcion.apellido">
            <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="alert alert-danger">
              <div *ngIf="apellido.errors.required">
                Apellido requerido
              </div>
              <div *ngIf="apellido.errors.minlength">
                Apellido debe contener almenos 4 caracteres.
              </div>
            </div>
          </div>
          <div class="form-group row p-0 m-0">
            <label for="nombres" class="col-form-label">Nombres :</label>
            <input type="text" name="nombres" id="nombres" minlength="4" #nombres="ngModel" required class="form-control" [(ngModel)]="inscripcion.nombres">
            <div *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)" class="alert alert-danger">
              <div *ngIf="nombres.errors.required">
                Nombres requerido
              </div>
              <div *ngIf="nombres.errors.minlength">
                Nombres debe contener almenos 4 caracteres.
              </div>
            </div>
          </div>
          <div class="form-group row p-0 m-0">
            <label for="fecha" class="col-md-6 col-form-label">Fecha :</label>
            <input id="fecha" type="date" name="fecha" #fecha="ngModel" class="form-control mr-4" [(ngModel)]="fech" (ngModelChange)="actualizarFecha()"
              required>
            <div [hidden]="fecha.valid || fecha.pristine" class="alert alert-danger">
              Fecha requerida
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button *ngIf="btnModificar" type="submit" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!inscripcionForm.form.valid" (click)="inscripcionForm.onSubmit()" 
          data-dismiss="modal">Modificar Inscripcion</button>
        <button *ngIf="btnAgregar" type="submit" class="btn btn-outline-success my-2 my-sm-0" [disabled]="!inscripcionForm.form.valid" (click)="inscripcionForm.onSubmit()"
          data-dismiss="modal">Realizar Inscripcion</button>
        <button type="button" class="btn btn-outline-primary my-2 my-sm-0" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
