<div class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Ingreso</h1>
    <label for="inputUsuario" class="sr-only">Usuario</label>
    <input id="inputUsuario" class="form-control" placeholder="Usuario address" required="" autofocus="" type="text">
    <label for="inputContra" class="sr-only">Contraseña</label>
    <input id="inputContra" class="form-control" placeholder="contraseña" required="" type="password">
    <div class="checkbox mb-3">
      <label>
        <input value="remember-me" type="checkbox"> Recuerdame
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>